<!-- Page content -->
<div class="page-content">
    <div class="min-vh-100 py-5 d-flex align-items-center">
        <div class="w-100">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-8">
                    <div class="col-lg-8 mt-4">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="row justify-content-between align-items-center">
                                <div
                                    class="col-md-12 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                                    <!-- Page title + Go Back button -->
                                    <div class="d-inline-block">
                                        <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Добавление
                                            аккаунта </h5>
                                        <p class="text-white">
                                            Для начала работы необходимо добавить учётную запись instagram
                                        </p>
                                    </div>
                                    <!-- Additional info -->
                                </div>
                            </div>
                        </div>
                        <form method="POST" action="/instagram/add" class="mt-4 send-form">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Номер телефона, имя пользователя или эл. адрес
                                        </label>
                                        <input required name="login" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Имя пользователя Instagram
                                        </label>
                                        <input required name="nickname" type="text" class="form-control">
                                    </div>
                                    <!-- Project description -->
                                    <div class="form-group">
                                        <label class="form-control-label mb-0">
                                            Пароль
                                        </label>
                                        <small class="form-text text-muted mb-2 mt-0">
                                            Пароли хранятся в зашифрованном виде и известны только вам.
                                        </small>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input required name="password" type="password" class="form-control"
                                                id="input-password" placeholder="Password">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <a href="#" data-toggle="password-text"
                                                        data-target="#input-password">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-verify d-none">
                                        <div class="alert alert-danger" role="alert">
                                            Требуется дополнительное действие.
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Укажите код подтверждения для входа в аккаунт.
                                            </label>
                                            <input name="code" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!-- Buttons -->
                                <div class="alert alert-danger error-form d-none ml-3 ml-3" role="alert">
                                    <div></div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary rounded-pill m-3">Добавить
                                        учётную
                                        запись</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>