<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Purpose Application UI is the following chapter we've finished in order to create a complete and robust solution next to the already known Purpose Website UI.">
    <meta name="author" content="Webpixels">
    <!-- Favicon -->
    <link rel="icon" href="/img/brand/favicon.png" type="image/png">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="/libs/@fortawesome/fontawesome-free/css/all.min.css"><!-- Page CSS -->
    <link rel="stylesheet" href="/libs/swiper/dist/css/swiper.min.css">
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="/css/purpose.css" id="stylesheet">
    {{!-- <link rel="stylesheet" href="https://preview.webpixels.io/purpose-application-ui-kit/assets/css/purpose.css"> --}}

    <style>

        @media (min-width: 1200px) {
            .application .sidenav-custom+.main-content {
                max-width: calc(100% - 250px);
                padding-left: 40px;
            }
        }

        @media (max-width: 590px) {

            .sidenav-custom {
                position: static !important;
            }
            .main-content {
                z-index: 5000 !important;
                pointer-events: all !important;
            }
        }

    </style>
</head>
<body>