  <div class="page-content mt-5">
        <!-- Topic -->
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div class="card">
              <div class="card-body text-center p-md-5">
                <!-- Topic header -->
                <i class="fas fa-check fa-6x"></i>
                <h2 class="mb-2">Мы отправили новый пароль на указанный почтовый ящик.</h2>
                <p class="lead mb-0">Все пароли хранятся в зашифрованном виде и известны только вам </p>
                <div>
                    <a href="/login">Войти</a>
                </div>
                <div>
                    <a href="/register">Регистрация</a>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>