  <div class="page-content mt-5">
        <!-- Topic -->
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div class="card">
              <div class="card-body text-center p-md-5">
                <!-- Topic header -->
                <i class="fas fa-check fa-6x"></i>
                <h2 class="mb-2">Подписка успешно оформлена</h2>
                <p class="lead mb-0">Вы получили доступ к уникальному контенту на оплаченный период</p>
              </div>
            </div>
          </div>
        </div>
</div>